.nb-image {
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    .nb-image__inner {
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
}
.nb-image--circle {
    img {
        border-radius: 50%;
    }
}

.nb-image-viewer__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    .nb-image-viewer__mask {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.5);
    }
    .nb-image-viewer__content {
        position: absolute;
        z-index: 1002;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        .nb-image-viewer__img {
            max-height: 100%;
            max-width: 100%;
        }
    }
    .nb-image-viewer__btn {
      position: absolute;
      color: #333;
      .iconfont {
        font-size: 30px;
      }
    }
    .nb-image-viewer__prev {
      top: 50%;
      left: 100px;
    }
    .nb-image-viewer__next {
      top: 50%;
      right: 100px;
    }
    .nb-image-viewer__close {
      top: 30px;
      right: 30px;
    }
}