name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 12.4
        uses: actions/setup-node@v1
        with:
          node-version: 12.4

      - name: install dependencies and build
        run: |
          npm install
          npm run docs:build
        env:
          CI: true
        
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/.vuepress/dist
